body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top right, #4f6275, #0b587c);
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: white;
}
